# Build output
_result/
build/
out/
bin/
obj/
x64/
x86/
x64_Release/
x64_Debug/
Win32_Release/
Win32_Debug/
Debug/
Release/
*.obj
*.pch
*.tlog
*.lastbuildstate
*.iobj
*.ipdb
*.dll
*.pdb
*.lib
*.exp
*.fb2k-component

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# vcpkg
vcpkg_installed/

# Local secrets
.env
*.token
*.secret
